# Sample data analysis notebook

## Loading Important Libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

C:\Users\Rahul Agrawal\AppData\Local\Programs\Python\Python38\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Rahul Agrawal\AppData\Local\Programs\Python\Python38\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
C:\Users\Rahul Agrawal\AppData\Local\Programs\Python\Python38\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

## Loading the data

In [50]:
df = sns.load_dataset('iris')
df.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

## Exploring the data
#####  get all details of the data like type of data, shape,count  etc.

* ### also make un-necessory columns list and drop that columns

In [32]:
col = "sepal_width"

value = 3.6

In [61]:
maxi = np.where(df[col] > value )

maxi =list(maxi[0])

maxi

[5, 10, 14, 15, 16, 18, 19, 21, 32, 33, 44, 46, 48, 117, 131]

In [66]:
mini = np.where(df[col] < 2.7 )

mini =list(mini[0])
mini

[41,
 53,
 57,
 60,
 62,
 68,
 69,
 72,
 79,
 80,
 81,
 87,
 89,
 90,
 92,
 93,
 98,
 106,
 108,
 113,
 118,
 119,
 134,
 146]

In [67]:
t = mini +maxi

t

[41,
 53,
 57,
 60,
 62,
 68,
 69,
 72,
 79,
 80,
 81,
 87,
 89,
 90,
 92,
 93,
 98,
 106,
 108,
 113,
 118,
 119,
 134,
 146,
 5,
 10,
 14,
 15,
 16,
 18,
 19,
 21,
 32,
 33,
 44,
 46,
 48,
 117,
 131]

In [65]:
mini

[41,
 53,
 57,
 60,
 62,
 68,
 69,
 72,
 79,
 80,
 81,
 87,
 89,
 90,
 92,
 93,
 98,
 106,
 108,
 113,
 118,
 119,
 134,
 146,
 [5, 10, 14, 15, 16, 18, 19, 21, 32, 33, 44, 46, 48, 117, 131]]

In [68]:
df.drop(t, axis =0 , inplace = True)

In [69]:
df.head(10)

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
11           4.8          3.4           1.6          0.2  setosa

In [70]:
len(df)

111

## Dealing with missing values
#####  get the count of missing values in each column
#####  on the basis of count we can decide whether to drop the column or not or just fill the missing values with mean or median or mode or any other value.

## Encoding Object data

## Dealing with Outliers

##### perform outlier detection using IQR and Boxplot and remove the outliers

## Scaling the data

* ##### Choose scaling technique carefully
* ##### save the scaler object for future use

### Scaling techniques available

#### 1. Standard scaling
#### 2. Min-Max Scaling
#### 3. Robust scaling
#### 4.
#### 1.
#### 1.
#### 1.
#### 1.

## Splitting the data into train and test data

## Apply machine learning algorithms

#### On Train Data

#### On Test Data

## Save the model

#### Use pickle

In [ ]:
#  Save the model
import pickle
with open('model_pickle','wb') as file:
    pickle.dump(model,file)
    
# Load Saved Model

with open('model_pickle','rb') as file:
    mp = pickle.load(file)

#### Using Joblib

In [ ]:
#  Save the model

from sklearn.externals import joblib

joblib.dump(model, 'model_joblib')

#  Load Saved Model

mj = joblib.load('model_joblib')

# Predict using the saved model

mj.predict([[values]])