In [2]:
import pandas_profiling

import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [3]:
from pandas_profiling import ProfileReport

In [4]:
df =sns.load_dataset('tips')

df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
# file  = ProfileReport(df ,dark_mode=True ,explorative=True)

# file.to_file(output_file="report.html")

In [6]:
#  Using dtale

# import dtale
# import dtale.app as dtale_app

# dtale_app.JUPYTER_SERVER_PROXY = True

# dtale.show(pd.DataFrame([1,2,3]))

In [7]:
# import dtale
# dtale.show(df, host='localhost')

In [8]:
# using sweetviz

In [9]:
#  using dataprep

In [10]:
#  using autowiz

In [11]:
#  using lux